---
name: ci

"on":
  pull_request:
  push:
    branches: [main]

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@5.0.3
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write
    secrets: inherit

  integration:
    needs: lint-unit
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - almalinux-8
          - almalinux-9
          - amazonlinux-2023
          - centos-stream-9
          - debian-12
          - debian-13
          - opensuse-leap-15
          - oraclelinux-8
          - oraclelinux-9
          - rockylinux-8
          - rockylinux-9
          - ubuntu-2204
          - ubuntu-2404
        suite:
          - basic-site
          - default
          - mod-auth-cas
          - php
          - module-template
          - mod-wsgi
          - ports
          - ssl
          - install-override
        exclude:
          # TODO: disabled due to https://github.com/chef/chef/pull/13691
          - os: amazonlinux-2023
            suite: mod-wsgi
          - os: ubuntu-2404
            suite: php
          - os: opensuse-leap-15
            suite: mod-auth-cas
          - os: opensuse-leap-15
            suite: wsgi
          - os: opensuse-leap-15
            suite: mod-wsgi
          - os: debian-13
            suite: php

          # - os: opensuse-leap-15
          #   suite: mod-wsgi
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Install Chef
        uses: actionshub/chef-install@main
      - name: Dokken
        uses: actionshub/test-kitchen@main
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
      - name: Print debug output on failure
        if: failure()
        run: |
          set -x
          sudo journalctl -l --since today
          KITCHEN_LOCAL_YAML=kitchen.dokken.yml /usr/bin/kitchen exec ${{ matrix.suite }}-${{ matrix.os }} -c "journalctl -l"

  final:
    runs-on: ubuntu-latest
    needs: [integration]
    steps:
      - run: echo ${{needs.integration.outputs}}
